/*
SOME CSS taken from the WET-BOEW site
 based on formalize.me and Twitter Bootstrap.
*/
form.background-light{padding-top:10px;}
.form-radio.form-label-inline,.form-checkbox.form-label-inline{display:inline-block;padding-top:5px;overflow:visible;margin-bottom:0;vertical-align:middle;}
.form-radio.form-label-inline + .form-radio.form-label-inline,.form-checkbox.form-label-inline + .form-checkbox.form-label-inline{margin-left:10px;}
.ui-mobile form [class*=width-]{width:100%!important;}
.ui-mobile form.background-light > *{margin-left:0;margin-right:0;}
.ui-mobile .form-inline > *{margin-right:0;}
.ui-mobile .form-radio.form-label-inline,.ui-mobile .form-checkbox.form-label-inline{display:block;padding:0;}
.ui-mobile .form-radio,.ui-mobile .form-checkbox{padding:0;}
.ui-mobile form.background-light{outline:none;}
.ui-mobile .form-inline label{display:block;}
.ui-mobile .form-horizontal label{text-align:left;}
.ui-mobile form [class*=margin-],.ui-mobile form [class*=span-]{margin:0!important;}
.ui-mobile .form-input-append button{position:absolute;}

.form-checkbox label
{
min-width:30%;
}

.form-checkbox input[type="checkbox"] + label 
{
display:inline; margin-top:0;
}

div.mainContent li ul.nav {
    border: 1px solid #CCC;
}

details.searchFormToggle
{
	margin-left:0;
	margin-right:0;
}
.togglemenu {
	display:block;
	margin-right:15px;
	margin-bottom:5px;
}

div.rightMenu h2 {
    font-size: 110%;
    color: #FFFFFF;
    background-color: #336699;
}

div.rightMenu h3,h4,h5,h6 {
    font-size: 100%;
    color: #000000;
    background-color: inherit;
}

div.rightMenu h1.headTitle {
    color: #000000;
    font-size: 160%;
    background-color: inherit;
}

hr.newhr {
    color: #CC0000;
    width: 2px;
    background-color: inherit;
}


div.mainContent {
    border:1px solid #999;
    float: left;
    /*width: 65%;*/
    padding-bottom: 10px;
    margin-bottom: 10px;
	margin-top:5px;
    padding-top: 0px;
    margin-left: 5px;
    margin-right: 0px;
    padding-right: 0px;
}


div.rightMenu {
    float: left;
    width: 30%;
    padding-top: 0px;
    margin-left: 2px;
    margin-right: 0px;
}


* html div.rightMenu {
    margin-left: auto;
    margin-right: auto;
    float: left;
}



div.mainContent p {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 5px;
}


div.hidden
{
	visibility:hidden;
}



.printOnly {
    display: none;
    text-decoration: underline;
}

.searchHeader
{
	font-size:18px;
	font-weight:bold;
	display:block;
	margin:3px 0px;

}

.results-panel
{
	border:1px solid #040;
	margin-top:5px;
	padding:2px;
}
.results-panel h1, .results-panel h2, .results-panel h3, .results-panel h4, .results-panel h5, .results-panel h6
{
	border:none;
}

div#results
{
	width:65%;
}

div#results .LongTitle, div#results .EnablingAuthority
{
	font-size:90%;
	font-weight:bold;
	margin-bottom:1em;
}

div#categories
{
	/* border:1px solid navy; */
	padding:2px;
	background-color:#FFF;
	font-size: 11px;
}
div#categories ul
{
	margin:0;
	padding-left:20px;
	list-style-type:circle;
}
div#categories li
{
	font-size:11px;
	color:black;
	padding-bottom:5px;
}

.allCategoryLink
{
	list-style-type:none;
	margin-left:-1.5em;
}

a.hitTitleLink
{
	font-weight:bold;
}
a.hitDetailsLink
{
	font-weight:normal;
	font-size:90%;
}
span.resultsHeader
{
	display:block;
	padding:2px;
	font-size:12px;
	background-color:#063;
	color:white;
}

.HelpLink
{
	float:right;
}
.searchIntro
{
	margin:0;
	padding-bottom:5px;
	padding-top:5px;
	font-weight:bold;
}
h1.searchIntro
{
	font-size:1em;
	text-align:left;
}


div.searchBoxEntry 
{
	padding-top:2px;
}
div.keyword
{
	padding-top:4px;
	clear:both;
}
.keyword input.wordSize    
{ width:120px; } 

.keyword Label.searchLabel
{
	text-align:right;
	width:250px;
	display:block;
	float:left;
	margin-right:10px;
}

div.advancedSearch input, div.advancedSearch select
{
	margin:0;
	padding:0;
	margin-bottom:3px;
}

fieldset.searchGroup { border: 1px solid #ddd; }
fieldset.searchGroup legend {font-size: 14pt;}
div.buttons
{
	text-align:center;
}
