/* Attention, il est important de faire la différence entre associer un style à un objet et
   associer un objet à un style. On ne devrait jamais associer un objet a un style. L'idée quand on
	défini un style c'est d'être en mesure de modifier rapidement le style d'un objet. Donc si on a réutilisé
	le style pour plusieurs objet qui on rien en commum. Lorsque l'on modifiera le style, plusieurs objets
	risque d'être modifiés sans qu'on le désir. Donc il est tout à fait possible d'avoir deux styles
	identique avec un nom de classe différent.

	Autre recommendation: Toujours mettre les font-size en pourcentage, de cette façon lorsqu'on resize tout
	ce suit. Le % est en fonction du font-size du parent. Aussi, ne pas mettre de "em" pour un width. Les width
	doivent toujours être fixe puisqu'on resize jamais en largeur. */

/***********************
STYLES FOR RIGHT DIV ON MAIN PAGE
********************/

div.right
{
	background-color:#FFF;
}
div.right h2.nav, div.right h2.nav a:link, div.right h2.nav a:visited {
	background-color: #c90;
	color: #000;
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

div.roundCornerOrangeF1 {    height:1px;    background:#c90; margin:0px 4px; display:block; font-size:1px; overflow:hidden;}
div.roundCornerOrangeF2 {    height:1px;    background:#c90; margin:0px 3px; display:block; font-size:1px; overflow:hidden;}
div.roundCornerOrangeF3 {    height:1px;    background:#c90; margin:0px 2px; display:block; font-size:1px; overflow:hidden;}
div.roundCornerOrangeF4 {    height:1px;    background:#c90; margin:0px 1px; display:block; font-size:1px; overflow:hidden;}

div.right li.menucontent, div.right div.menucontent {
	border-bottom: 1px solid #555;
	border-bottom-style:dashed;
	padding:4px;
	background-color:#EEB;
	font-size:10px;
	}

div.rightBoxQuickSearch
{
	background-color:#EEB;
	padding:3px;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #888;
	border-right: 1px solid #888;

}

div.right ul.nav, div.right p.nav, div.right div.nav 
{
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
}

div.right a.menulink {
	font-size:10px;
	color:blue;
	}


div.right li div.nav, div.right li p.nav {
	margin-bottom: 10px;
	padding: 2px 5px 2px 12px;
}
div.right li p.nav {
	margin-top: 0px;
}
div.right h2.nav 
{
	font-size: 10.0pt;
	border: 0;
	font-weight:normal;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
}

/********************************************************/
/* Containers											*/
/********************************************************/
div.secHeader
{
	font-size		: 100%;
}

div.secBody
{
	font-size		: 100%;
}

div.secFooter
{
	font-size		: 100%;
}

/********************************************************/
/* Section Général                                      */
/********************************************************/

/* Container div pour Showdoc et ShowTdm dans le template.html */
div.divContainer {
	margin			: 10px;

}

/*
ol.TocIndent li.liGold {
	list-style-image : url("/img/rickhead.jpg");
} */

/* Image pour les puces Gold */
li.liGold {
	list-style-image 	: url("/img/BouleOr-6x6.gif");
}

.marginList {
	margin-bottom 		: 0.5em;
	margin-left 		: 0.5em;
}

/* lien sous forme de bouton */
a.button {
	/*background		: url("/img/bouton.gif") repeat-x; */
	background 		: #006531;
	font-size		: 90%;
	height			: 15px;
	font-weight		: bold;
	color			: white !important;
	padding			: 0px 5px 1px 5px;
	border			: 1px solid green;
	cursor	        	: pointer;
	text-decoration		: none;
}

a.button:hover {
	color       		: white;
	text-decoration 	: none;
}

.lineSeparator {
	border-bottom		: 1px solid #cc9900;
	margin-bottom		: 0.3em;
}

.cadreSeparator {
	border 			: 1px solid #cc9900;
/*	width			: 36.0em; */
	padding-bottom		: 0.45em;
	padding-top		: 0.45em;
	margin-top		: 0.45em;
	margin-left		: 0.20em;
}

/* Deprecated, a supprimer lorsque l'on utilisera plus de JS, c'est le seul endroit où il est encore utilisé. */
img.barre {
	/*	background-image	: url(/img/ligne_jaune.gif); */
	width			: 100%;
	height	 		: 1px;
	padding-top		: 10px;
	padding-bottom		: 10px;
}

/* Table data standard */
/*td {
	font-size		: 100%;
} */

/* Grosseur du text standard */
/*TODO a supprimer ace et css*/
.container {
	/*font-size		: 1em;*/
	/*font-size: 10pt;*/
}

ul.enablingList 
{
	margin:0;
	display:block;
}
ul.enablingList li
{
	margin:0;
	margin-left:3em;
	padding-top:0;

}

/* Indentation de la table des matières */
ol.TocIndent {
	margin-left		: 1.5em;
	font-size: 90%;
}
ol.TocIndent li {
	margin-top:2px;
}
li.TocIndent1 {
	margin-left:1.5em;
}

li.TocIndent1 span.ScheduleHeading
{
	font-weight:normal;
}

li.TocIndent2 {
	margin-left		: 3.0em
}

li.TocIndent3 {
	margin-left		: 4.5em;
}
li.TocIndent4 {
	margin-left:6.0em;
	}

li.TocIndent5 {
	margin-left:7.5em;
	}

ol {
	list-style-type:none;
	margin			: 5px 0px;
	padding			: 0.0em;
	text-indent		: 0.0em;
}

ol.noBullet {
	list-style-type:none;
}

li.TocIndentLiContainer {
	padding			: 0.0em !important;
	margin			: 0.0em !important;
	text-indent		: 0.0em !important;
	display			: inline !important;
}
.indent {
	padding-left 		: 25px;
}

li.liSecondNiveau {
	display			: inline !important;
}

table.noBorder {
	border			: none;
}

table.template {
	border-collapse		: collapse;
	width			: 455pt;
}

/* lien pour fils d'arrianne */
a.breadcrumbs {

}

a.anchor {
	text-decoration 	:none!important;
	color 			:black!important;
}


	margin-top : 0.5em;
/********************************************************/
/* Section Footer 				    				    */
/********************************************************/
a.footer	{
	color	  		: black;
}
a.footer:hover {
	color			: black;
}

.footerText {

}

img.footer {
	border 			: none;
}

div.dottedLine {
	background-image 	: url(/img/footer/point.gif);
	background-repeat	: repeat-x;
	background-position 	:bottom;
	height			: 3px;
	padding-top		: 0.5em;
}

/********************************************************/
/* Section Statutory Ressources 						*/
/********************************************************/

/* Highlight (Titre de section) */
.sectionTitle {

	font-weight		: bold;
	margin-bottom:4px;
}

a.statRes {
	color			: #000000;	/* blanc */
}
a.statRes:hover {
	color			: #CC9900;	/* Gold */
}

ul.statRes
{
	list-style-image 	: url(/img/BouleOr-6x6.gif);
	margin-left		: 0em;
	margin-top		: 0em;
	padding-left:1.5em;

}
ul.statRes a
{
	font-size:9pt;
}

td.statResAlignImg{
	vertical-align 		:top;
	padding-bottom 		: 0.2em;
}

span.statResAlignImg {
	padding-right 		: 0.4em;
}

td.statResAlignLink {
	padding-right 		: 0.4em;
}

table.statResHead {
	margin			: 0.0em;
	margin-bottom		: 0.3em;
}

div.statResDiv {
	padding-top 		: 2em;
}

table.statResMain {
	margin			: 00.00em;
}

table.statResElem {
	border			: 0.0em;
	border-collapse		: collapse;
}

div.statResLeft
{
	font-weight		: bold;
	float			: left;
	width			: 175px;
	text-align		: right;
	margin-top		: 0.5em;
}

div.statResRight
{
	width			: 375px;
}

div.statLblLeft
{
	font-weight		: bold;
	float			: left;
	text-align		: right;
	margin-top		: 0.5em;
}

div.statLblRight
{
	width			: 375px;
	text-align		: right;
}

/********************************************************/
/*	Header Frame Section								*/
/********************************************************/

table.headFrameMain
{
/*	width			: 45em; */
	border-collapse		: collapse;
}

/********************************************************/
/*	Note Section										*/
/********************************************************/

table.noteSecMain
{
	border			: 0.0em;
	border-collapse		: collapse;
	text-align		: justify;
}

/********************************************************/
/*	ShowDoc Section 									*/
/********************************************************/

/* Largeur et font de select */
select.navSelect {
   font-size        		: 0.8em;
   width            		: 200px;
}


/* Largeur et Font du bouton submit */
input.submitButton {
   width            		: 75px;
   font-size       		: 1.0em;
}

/* Marge du bouton de la table des matières */
a.marginButton {
   margin-right    		: 6px;
}

/* Bouton de navigation */
a.navButton {
   padding-left    		: 10px;
   text-align      		: center;
}

nevDispConn {
   padding-left    		: 5px;
}

div.habilitanteLine {
	font-weight		: normal;
}

div.goldLineTop {
	padding-top		: 0.5em;
}

div.goldLinePos {
	text-align		: center;
	padding-bottom		: 8px;
	padding-top		: 3px;
}

div.selectTop {
	text-align		: center;
	margin-top		: 0.5em;;
}

div.nextPreviousBtnAlign {
	text-align		: center;
	padding-top:2px;
	padding-bottom:2px;
}
#selectForm {
	margin:0;
}

/********************************************************/
/*	Linking Guide Section      								  */
/********************************************************/
ol.number {
	list-style-type 	: decimal;
	padding-left 		: 25px;
}

dt.title {
	font-weight		: bold;
}

dd.officialChapter {
	/*Style non défini, mais existant*/
}

dd.link {
	/*Style non défini, mais existant*/
}


/********************************************************/
/*	FAQ      						            	    */
/********************************************************/

a.FaqTitle{
	font-weight 		:bold;
}
a.FaqTitle:hover {
	text-decoration 	:none!important;
	color 			:black!important;
}

/********************************************************/
/*	Help      						            	    */
/********************************************************/

.fakeLink
{
	text-decoration		: none;
	cursor			: pointer;
	color			: #006633;
}

.fakeLink span:hover {
	text-decoration 	: underline;
}

a#cont,
a#contSim,
a#contAdv,
a#contAnn,
a#contTit
{
	text-decoration 	: none;
}

/********************************************************/
/*	Glossaire  						            	    */
/********************************************************/

div#glossaire div { font-weight: bold; width: 5em; float: left; }
