.AmendedText
{
	font-weight		: normal;
}

.BoldSubParagraph
{
	font-weight		: bold;
	margin-left		: 5.6em;
}

.BoldSubclause
{
	font-weight		: bold;
	margin-left		: 0.8pt
}

.ContinuedClause
{
	margin-bottom	: 0.0em;
	margin-left		: 2.8em;
	margin-top		: 0.0em;
}


.DocumentInternal
{
}

.GroupHead
{
	font-weight		: normal;
	margin-top		: 0.7em;
	margin-bottom	: 0.0em;
	text-align		: center;
}


.Italic
{
	font-style		: italic;
}


.Part
{
	margin-bottom	: 0.0em;
	margin-top		: 1.4em;
	text-align		: center;
	font-variant	: small-caps;
}

.RegGroupHead
{
	font-size		: 100%;
	font-weight		: normal;
	margin-top		: 0.7em;
	margin-bottom	: 0.0em;
	text-align		: center;
}


.SecSubSec
{
	margin-top		: 0.7em;
	margin-left		: 0.0em;
	margin-bottom	: 0.0em;
	text-indent		: 1.4em;
}

.FormulaSec
{
	margin-top		: 0.7em;
	margin-left		: 0.0em;
	margin-bottom	: 0.0em;
}

.ShortTitleStatute
{
	font-weight		: bold;
	margin-top		: 1.4em;
	text-align		: center;
}

.Title-of-Act
{
	font-size		: 145%;
	font-weight		: bold;
	text-align		: center;
}

.Title-of-Regulation
{
	font-weight		: bold;
	text-align		: center;
}


.nevDispConn
{
	margin-top		: 5em;
}

.nifText
{
	font-size		: 100%;
	text-align		: center;
}

.repealedText
{
	font-size		: 100%;
	text-align		: center;
}

.subscript
{
	vertical-align	: sub
}

A.OtherPage
{
	text-decoration	: underline;
	font-size		: 90%;
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-weight		: normal;
	font-style		: normal;
	color			: Black;
	vertical-align	: top;
}

a.anchorLabel
{
	color			: green;
}




.SubDivision { font-family:Verdana, Arial, Helvetica, sans-serif; }
div.SubDivision, p.SubDivision  { font-size:100%; }

.Subheading  { font-family:Verdana, Arial, Helvetica, sans-serif; }
div.Subheading, p.Subheading  { font-size:100%; }
