<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <modules>
            <remove name="WindowsAuthentication" />
            <remove name="UrlRoutingModule-4.0" />
            <remove name="UrlMappingsModule" />
            <remove name="UrlAuthorization" />
            <remove name="Session" />
            <remove name="ScriptModule-4.0" />
            <remove name="RoleManager" />
            <remove name="Profile" />
            <remove name="OutputCache" />
            <remove name="FormsAuthentication" />
            <remove name="FileAuthorization" />
            <remove name="DefaultAuthentication" />
            <remove name="AnonymousIdentification" />
        </modules>
        <handlers>
            <add name="SVC file" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="File" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
            <add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=Edge" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Content-Security-Policy" value="frame-src 'self'; frame-ancestors 'self'" />
            </customHeaders>
        </httpProtocol>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404-en-fr.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
