p.Title-of-Act, h2.Title-of-Act
{
Font-weight: Bold; Margin-top: 1.4em; Text-indent: -1em; font-size: 110%; text-align:left;
}
p.Amendment {Margin-left: 0em;}

ul.privateActs, ul.privateActs ul
{
	margin:1em;;
	padding:0;
}
ul.privateActs li, ul.privateActs li ul li
{
	list-style-type:none;
}



